body{
  font-family: Impact;
  font-size: large;
  font-style: italic;
  background-color: plum;
}

.container {
  display: flex;
  background-color: var(--color-bg);
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  height: auto;
  align-items: center;
}

/*
#containerTrivia, #reiniciar, #contestar{
  display: none;
}
*/

input[type=button], input[type=submit]{
  background-color: greenyellow;
  color: blue;
}


.flex-container {
  display: flex;
  /*display: none;*/
  background-color: var(--color-bg);
  flex-flow: row wrap;
  justify-content: center;
}

.flex-item {
  background-color: var(--color-bg);
  width: 90%;
  margin: 2%;
  text-align: center;
  line-height: 5px;
  font-size: 15px;
}

img{
  width: 40%;
}

h2, h3 {
  color: #2800FF;
  text-align: center;
}

input{
  border: 2px double blueviolet;
  border-radius: 10px;
  text-align: center;
  background-color: beige;
  color: blue;
  padding: 15px 15px 15px 15px;
  margin: 10px 10px 10px 10px;
}

input[type=button], input[type=submit]{
  background-color: greenyellow;
  color: blue;
}

input[type=button]:hover, input[type=submit]:hover{
  background-color: blue;
  cursor: pointer;
  color: beige;
}

form{
  position : center;
  width  : 400px;
  height : 140px;
  margin : 0 auto;
  padding: 30px 40px 30px 60px;
  /*box-sizing: border-box;*/
  background : var(--color-bg);
  /*
  display  : grid;
  grid-gap : 20px;
  grid-template-columns : repeat(2, 1fr);
  grid-template-rows    : 10em 1em 1em 1em;
  */
}

div {
  display: block;
}

div[id=containerTrivia], div[id=containerTrivia1], div[id=reiniciar], div[id=contestar], div[id=escoger]{
  display: none;
}

select {
  background-color: beige;
  color: green;
  font-size: 14px;
  height: 30px;
  padding: 5px;
  width: 150px;
 
}